:root {
    --mouse-x: 0.5;
    --mouse-y: 0.5;
    --content-scroll: 0;
    --int-color: rgb(97, 193, 209);
    --psy-color: rgb(115, 89, 199);
    --fys-color: rgb(198, 74, 108);
    --mot-color: rgb(225, 185, 63);
}
.int-color {
    color: var(--int-color);
}
.psy-color {
    color: var(--psy-color);
}
.fys-color {
    color: var(--fys-color);
}
.mot-color {
    color: var(--mot-color);
}
.modal {
    display: block;
    position: fixed;
    left: calc(var(--mouse-x-raw) * 1px + 10px);
    top: calc(var(--mouse-y-raw) * 1px + 20px);
    background-color: black;
    color: white;
    opacity: 90%;
    overflow: hidden;
    z-index: 3;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
body {
    margin: 0px;
    overflow: hidden;
}
#viewport {
    
    height: 100vh;
    
    z-index: 1;
    width: calc(90vw - 60px);
    margin: auto;
    min-width: 1200px;
    min-height: 800px;
    overflow: hidden;
}
#viewport::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 5vw;
    height: 200vh;
    width: 90vw;
    z-index: 0;
    /* background-image: url("./img/parallax/feld.png"); */
    border-image: url("./img/parallax/feld-border.png") 30 fill / 0px 30px 0px 30px repeat;
    opacity: 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateY(calc(var(--content-scroll) * -100vh));
    transition: transform 0.5s ease-out;
}
#content {
    display: flex;
    flex-flow: row nowrap;
    width: calc(90vw + 20vw + 10px);
    height: calc(100% - 30px);
    justify-content: end;
    transform: translateX(calc(var(--content-scroll) * -1 * (20vw + 70px)));
    transition: transform 0.5s ease-out;
    
}
#attributes {
    height: 100vh;
    width: 10vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}
.attribute {
    width: 80%;
}
.attribute > p {
    margin: 0px;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.attribute > p:first-child {
    font-size: 5vw; 
    font-weight: 800;
    line-height: 1;
}
.attribute > p:last-child {
    font-style: italic;
    font-size: xx-large;
    border-top: 2px solid white;
}

#skill-details {
    padding: 20px 20px 0px 20px;
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Arial Narrow Bold', sans-serif;
    color: white;
    width: 20vw;
    overflow-x: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    height: calc(100vh - 20px);
}
#skill-details > .nav-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: 0px;
    transition: all 0.25s;
    overflow: hidden;
}
#skill-details:hover > .nav-bar {
    height: 50px;
    
}
/* #skill-details.closed > .nav-bar {
    height: 0px;
}
#skill-details.closed {
    flex-grow: 0;
    padding: 0px;
    width: 0%;
}
#skill-details.closed > * {
    width: 400px;
} */
#overview-toggle, #info-toggle {
    opacity: 0.6;
    font-size: xx-large;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    text-align: center;
    flex-grow: 1;
    line-height: 75%;
}

#overview.active, #info.active {
    display: block;
}
#overview, #info {
    display: none;
}
#skill-detail-image {
    width: 100%;
    height: 450px;
}
#skill-details .closer {
    width: 50px;
    height: 50px;
    opacity: 0.6;
}
#skill-details .nav-bar > .active {
    color: black;
    background-color: white;
    transition: none;
}
#skill-details .nav-bar > :not(.active) {
    transition: background-color 0.3s;
}
#skill-details .nav-bar > :hover {
    cursor: pointer;
}

#skill-details .nav-bar > :not(.active):hover {
    background-color: gray;
}
#skill-detail-desc-long {
    overflow-y: scroll;
}
#view-checks-button {
    background-color: darkorange;
    padding: 10px;
    font-weight: bold;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
#level-up-button {
    background-color: cornflowerblue;
    padding: 10px;
    font-weight: bold;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
#skills {
    display: flex;
    flex-flow: column nowrap;
    height: calc(100vh - 60px);
    width: calc((70vw - 130px) + ((1 - var(--content-scroll)) * 10vw));
    transition: width 0.5s ease-out;
    gap: 30px;
    padding: 30px;
    justify-content: space-around;
}
#skills > div {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}
.skill {
    width: 165px;
    height: 100%;
    transition: all 0.25s;
    position: relative;
    top: 0;
    left: 0;
}
.skill:hover {
    cursor: pointer;
    width: 175px;
    height: 105%;
}
.skill > .modal {
    width: 275px;
    max-width: 0px;
    transition: max-width 0.5s ease-in-out, border-right 0.5s linear, transform 0.5s ease-in-out;
    height: 45px;
    max-height: 50px;
    transform: translateX(calc((var(--content-scroll) * (20vw + 70px) - 125px)))
    /* transform: translateX(calc((var(--content-scroll) * (20vw + 70px) - 125px))) */
}
.skill:hover > .modal {
    max-width: 285px;
    border-right: 2px solid white;
    transform: translateX(calc((var(--content-scroll) * (20vw + 70px) - 125px) - ((1 - var(--content-scroll)) * 290px)))
}
.attribute > .modal {
    width: 275px;
    max-width: 0px;
    transition: max-width 0.5s ease-in-out, border-right 0.5s linear;
    height: 110px;
    top: calc(var(--mouse-y-raw) * 1px);
    transform: translateX(calc((var(--content-scroll) * (20vw + 70px) - 125px)));
    text-align: left;
}
.attribute:hover > .modal {
    max-width: 285px;
    border-right: 2px solid white;
    transform: translateX(calc((var(--content-scroll) * (20vw + 70px) - 125px)))
}
.skill > img {
    width: 100%;
    height: 100%;
    margin: 0;
}
.skill-label {
    display: flex;
    flex-flow: row nowrap;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0));
    position: absolute;
    top: 0px;
    left: 0px;
    
    font-family: 'Arial Narrow Bold', sans-serif;
}
.skill-label > p {
    margin: 0;
    font-size: 90%;
    max-height: 40px;
    z-index: 2;
}
.skill-label > :first-child {
    display: inline-block;
    width: 100%;
    height: fit-content;
    text-overflow: ellipsis;
    color: white;
    opacity: 1;
    transition: all 0.25s;
    text-align: center;
    
    
    font-style: italic;
    overflow: hidden;
    word-break: keep-all;
    
}
.skill-label > :last-child {
    color: black;
    background-color: white;
    font-weight: bold;
}

.parallax-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: -2;
    overflow: hidden;
}
.fog {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    overflow: hidden;
    pointer-events: none;
}   

.parallax-layer {
    position: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#layer1 {
    background-image: url('img/parallax/t1.png');
    height: 110%;
    width: 110%;
    transform: translateX(calc(var(--mouse-x) * -5%)) translateY(calc(var(--mouse-y) * -5%));
    z-index: -1
}

#layer2 {
    background-image: url('img/parallax/t3.png');
    height: 100%;
    width: 200%;
    animation: parallax2 7s ease-in-out infinite alternate reverse;
    z-index: 1;
    opacity: 0.5;
}

#layer3 {
    height: 100%;
    width: 300%;
    background-image: url('img/parallax/t2.png');
    animation: parallax3 10s ease-in-out infinite alternate;
    opacity: 0.5;
}

#check-menu {
    width: calc(90vw - 60px);
    left: calc(5vw + 30px);
    height: 0vh;
    position: fixed;
    top: 0px;
    z-index: 4;
    background-color: black;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: large;
    transition: all 0.25s;
    overflow-y: hidden;
    opacity: 0.9;
}
#check-menu .closer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    opacity: 0.6;
}
#check-menu .closer:hover {
    cursor: pointer;
}
#check-menu.active {
    height: 100vh;
    overflow-y: scroll;
}
#check-list {
    width: calc(100% - 55px);
    height: 100%;
    margin: 0;
}
#journal {
    min-height: 100%;
    width: 100%;
    margin: 0;
}
#skill-name {
    width: 80%;
}
#skill-level {
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 475px;
    right: 0px;
    max-width: 40px;
}

@keyframes parallax2 {
    0% {
        transform: translateX(-10%);
    }
    20% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-40%);
    }
}

@keyframes parallax3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}